body{
    background:black url('https://images.pexels.com/photos/544268/pexels-photo-544268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat 0px 0px fixed;
    
}
h1
{
    background-color: black;
    color: aliceblue;
}